HIREBEAN_DB_USERNAME=
HIREBEAN_DB_PASS=
SPRING_DATASOURCE_URL=jdbc:

#Gmail
MAIL_USERNAME=
MAIL_PASSWORD=

#BACKEND & FRONTEND URLS
APP_BACKEND_URL=
APP_FRONTEND_URL=
JWT_SECRET=

APP_SEED_DEMO_DATA=true

SUPABASE_PUBLIC_BUCKET=hirebean-public
SUPABASE_PRIVATE_BUCKET=hirebean-private
SUPABASE_SIGNED_URL_SECONDS=600
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=